.App {
  text-align: center;
  background-color: #9f7062;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23804e34' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  min-height: 140vh;
}

.switch-button {
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

button {
  background-color: #fff;
  font-size: 16px;
  border-radius: 5px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.controls {
  display: flex;
  width: 360px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container {
  background-color: lightgrey;
  border: 10px solid blue;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 180px);
  grid-template-rows: repeat(3, 180px);
}

.path-container {
  position: absolute;
}

line {
  stroke: grey;
  stroke-width: 5;
  stroke-linecap: round;
  z-index: 100;
}

.box {
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
}

.symbol {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
     -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
}

@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100%   { opacity: 1; }
}

/*Connect 4*/
.board {
  background-color: transparent;
  display: grid;
  grid-template-rows: repeat(6, 80px);
  grid-template-columns: repeat(7, 80px);
}

.cell {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #9f7062;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23804e34' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.arrows {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(7, 80px);
}

.arrow {
  font-size: 30px;
  width: 80px;
  cursor: pointer;
}