.App {
  text-align: center;
  background-color: #80acf2;
  height: 200vh;
  padding: 2vw;
}

button {
  background-color: #fff;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: blue;
  border: 10px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 180px);
  grid-template-rows: repeat(3, 180px);
}

.path-container {
  position: absolute;
}

line {
  stroke: grey;
  stroke-width: 5;
  stroke-linecap: round;
  z-index: 100;
}

.box {
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  z-index: 10;
}

.mySymbol {
  color: red;
}

.computerSymbol {
  color: yellow;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
     -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
}

@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100%   { opacity: 1; }
}

/*Connect 4*/
.console {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.board {
  background-color: transparent;
  display: grid;
  grid-template-rows: repeat(6, 80px);
  grid-template-columns: repeat(7, 80px);
}

.cell {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #80acf2;
}

.arrows {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(7, 80px);
}

.arrow {
  font-size: 30px;
  width: 80px;
  cursor: pointer;
}