.App {
  text-align: center;
  background-color: #80acf2;
  height: 150vh;
  padding: 15px;
}

p {
  margin: 5px;
}

button {
  background-color: green;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  -webkit-backface-visibility: hidden;
}

.secondary-button {
  background-color: purple;
}

button:hover {
  box-shadow: 0 0 1px 1px grey;
  transform: scale(0.95);
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: blue;
  border: 10px solid black;
  border-radius: 10px;
  display: grid;
}

.path-container {
  position: absolute;
}

line {
  stroke: grey;
  stroke-width: 5;
  stroke-linecap: round;
  z-index: 100;
}

.box {
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  z-index: 10;
}

.mySymbol {
  color: red;
}

.computerSymbol {
  color: yellow;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/*Connect 4*/
.console {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.board {
  background-color: transparent;
  display: grid;
}

.cell {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 500px) {
  .console {
    flex-direction: column;
    justify-content: center;
  }
  .option-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
